@using Microsoft.AspNetCore.Identity
@using Onboarding.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        <li class="nav-item">
            <span id="manage" class="nav-link text-dark fs-5 fw-bold">
                Hello, <span class="text-primary">@UserManager.GetUserName(User)</span>!
            </span>
        </li>

        <li class="nav-item">
            <a class="btn btn-primary btn-block mt-3 nav-link" id="main-page" asp-area="" asp-controller="User" asp-action="MainPage">Main Page</a>
        </li>

}
else
{
        <li class="nav-item">
            <a class="btn btn-primary btn-block mt-3 fs-5 nav-link" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary btn-block mt-3 fs-5 nav-link" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>

}
</ul>
