@{
    ViewData["Title"] = "Strona Główna";
}

<div class="container my-5 text-center">
    <h1>Witamy w Platformie Onboardingowej!</h1>
    <p class="lead">Poznaj rozwiązanie, które ułatwia proces wdrażania nowych pracowników i zarządzanie ich rozwojem.</p>
</div>

<section class="roles py-5 bg-light">
    <div class="container">
        <h2 class="text-center mb-4">Nasze funkcjonalności dla różnych ról</h2>
        <div class="row">
            <div class="col-md-6 col-lg-4 mb-4">
                <h3>HR</h3>
                <p>

                    Możliwość przypisywania kursów i mentorów.<br>
                    Śledzenie postępów nowych pracowników.<br>
                    Zarządzanie dostępami i tworzenie struktury wdrożenia.
                </p>
            </div><div class="col-md-6 col-lg-4 mb-4">
                <h3>Manager</h3><p>
                    Tworzenie kursów dostosowanych do potrzeb zespołu.<br>
                    Monitorowanie wyników testów i zadań.<br>
                    Przypisywanie mentorów i zarządzanie multimedialnymi zasobami.
                </p>
            </div><div class="col-md-6 col-lg-4 mb-4">
                <h3>Buddy</h3><p>
                    Wsparcie nowych pracowników w procesie onboardingu.<br>
                    Komunikacja w czasie rzeczywistym przez czat.<br>
                    Udzielanie wskazówek i monitorowanie postępów.
                </p>
            </div><div class="col-md-6 col-lg-4 mb-4">
                <h3>Nowy</h3><p>
                    Wgląd w przypisane kursy i zadania.<br>
                    Możliwość raportowania postępów i wypełniania testów.<br>
                    Dostęp do materiałów pomocniczych i czatu z mentorem lub buddy.
                </p>
            </div><div class="col-md-6 col-lg-4 mb-4">
                <h3>Mentor</h3><p>
                    Planowanie zadań i check-inów dla nowych pracowników.<br>
                    Ocena postępów w realizacji przypisanych zadań.<br>
                    Wysyłanie feedbacku i wspieranie procesu nauki.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="cta py-5 text-center">
    <div class="container">
        <h2>Gotowy na usprawnienie swojego onboardingu?</h2>
        <p class="lead">Przygotuj swoją organizację do lepszego wdrażania pracowników.</p>
        <a href="/User/CreateEmployee" class="btn btn-primary btn-lg">Zacznij teraz</a>
    </div>
</section>