@import url('colors.css');

body {
    background-color: var(--bg-color);
}

.container {
    margin-top: 50px;
}

.main-title {
    font-size: 36px;    
    color: var(--secondary-color);
    font-weight: bold;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: var(--bg-light);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    position: relative;
    width: 100%;
}
.header-buttons {
    display: flex;
    gap: 15px;
}

    .header-buttons a {
        background-color: var(--primary-color);
        color: var(--white);
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }

        .header-buttons a:hover {
            background-color: var(--hover-primary);
        }

.btn-secondary {
    background-color: var(--secondary-color);
    color: var(--white);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

    .btn-secondary:hover {
        background-color: var(--hover-secondary);
    }

.role-description h2 {
    color: var(--primary-color);
    font-size: 28px;
    margin-bottom: 20px;
}

.role-description p {
    font-size: 18px;
    line-height: 1.6;
    color: var(--text-color);
}

.action-buttons a {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

.btn-success {
    background-color: var(--secondary-color);
    color: var(--white);
}

    .btn-success:hover {
        background-color: var(--hover-secondary);
    }

.btn-primary {
    background-color: var(--primary-color);
    color: var(--white);
}

    .btn-primary:hover {
        background-color: var(--hover-primary);
    }

h5 {
    color: var(--text-color);
    font-weight: normal;
}

.login-container {
    background-color: #fff;
    width: 400px;
    padding: 20px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-header h1 {
    font-size: 28px;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

    .form-group label {
        text-align: left;
        display: block;
        font-size: 16px;
        margin-bottom: 5px;
    }

    .form-group input {
        font-size: 16px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        width: 100%;
    }

.btn {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
}

.btn-primary {
    background-color: var(--primary-color);
    border: none;
}

    .btn-primary:hover {
        background-color: var(--hover-primary);
    }

.btn-success {
    background-color: var(--secondary-color);
    border: none;
}

    .btn-success:hover {
        background-color: var(--hover-secondary);
    }

.divider {
    color: #606770;
    text-align: center;
    margin: 20px 0;
}
